@model IEnumerable<HotelCollection.Web.Models.PaymentSetupModel>
@{
    ViewData["Title"] = "Pending Approval";
}
<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-0">Pending Approval List</h3>
            </div>
            <div class="col-6 text-right">

                <a asp-controller="PaymentSetup" asp-action="Create" class="btn btn-sm btn-default btn-round btn-icon" data-toggle="tooltip" data-original-title="New Request">
                    <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                    <span class="btn-inner--text">New Payment</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>S/N</th>
                    <th>Reference</th>
                    <th>Hotel</th>
                    <th>Category</th>
                    <th>Payment Type</th>
                    <th>Amount</th>
                    <th>Approval Status</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var req in Model)
                {
                    i = i + 1;
                    <tr>
                        <td>@(i)</td>
                        <td class="table-user">
                            <b>@Html.DisplayFor(modelItem => req.ReferenceNo)</b>
                        </td>
                        <td class="table-user">
                            <b>@Html.DisplayFor(modelItem => req.Hotel.Name)</b>
                        </td>
                        <td class="table-user">
                            <b>@Html.DisplayFor(modelItem => req.Hotel.Category.CategoryName)</b>
                        </td>
                         <td class="table-user">
                            <b>@Html.DisplayFor(modelItem => req.PaymentType.Type)</b>
                        </td>
                         <td class="table-user">
                            <b>@Html.DisplayFor(modelItem => req.Amount)</b>
                        </td>
                        <td class="table-user">
                            <b>@(string.IsNullOrEmpty(req.ApprovalStatus) ? "-" : req.ApprovalStatus)</b>
                        </td>
                        <td class="table-user">
                            <b>@req.DateCreated.ToString("dd/MM/yyyy")</b>
                        </td>
                        @* <td class="table-user"> *@
                        @*     <a class="btn btn-primary" data-toggle="collapse" href="#collapseItem_@(i)" role="button" aria-expanded="false" aria-controls="collapseItem_@(i)"> *@
                        @*         View Items *@
                        @*     </a> *@
                        @* </td> *@
                        <td>
                            <a asp-action="Approve" asp-route-id="@req.Id" class="table-action" data-toggle="tooltip" data-original-title="Approve">
                                <i class="fas fa-check text-green"></i>
                            </a>                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>