@model IEnumerable<HotelCollection.Web.Models.HotelRegistrationModel>

<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-0">Hotels</h3>
            </div>
            <div class="col-6 text-right">
            
                    <a asp-action="Create" class="btn btn-sm btn-default btn-round btn-icon" data-toggle="tooltip" data-original-title="Create Hotel">
                        <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                        <span class="btn-inner--text">New Hotel</span>
                    </a>
                </div>
        </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>S/N</th>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th>ADDRESS</th>
                    <th>CAC NUMBER</th>
                    <th>CATEGORY</th>
                    <th>L.G.A.</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(i = i + 1)</td>
                    <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.Name)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.Phone)</b>
                    </td>
                    <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.Email)</b>
                    </td>
                    <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.Address)</b>
                    </td>
                    <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.CACNumber)</b>
                    </td>
                    <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.Category.CategoryName)</b>
                    </td>
                        <td class="table-user">
                            <b>@Html.DisplayFor(modelItem => item.LocalGovernmentArea.LGAName)</b>
                        </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="table-action" data-toggle="tooltip" data-original-title="Edit Hotel">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="table-action table-action-delete" data-toggle="tooltip" data-original-title="Delete Hotel">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>